/* || Color Palette */
html {                        color:            #cfdde7;
                              background-color: #0c1013; }
#title-banner h2 {                       color: #d3bf7d; }
#roll-button {                background-color: white; }
#roll-button:hover {          background-color: goldenrod; }
.collapsible {                background-color: dimgrey; }
.active, .collapsible:hover { background-color: darkslategray; }
.select-button {                         color: dimgrey; }
.select-button[data-state='true'] {      color: brown; }
.group-selector {                        color: #303030; }
.group-selector[data-state='true'] {     color: red; }
.list tr td {                 background-color: black; }
.group-selector:hover[data-state='false'] { color: white; }
.group-selector p { color: black; }
.list tr:hover .select-button[data-state='true'][data-dual='false'],
.group-selector[data-state='true']:hover,
#weapon-list tr td:nth-child(2):hover span[data-state='true'] { color: #73e4e4 }
#weapon-list tr td:nth-child(2):hover, 
#weapon-list tr:hover td:not(:nth-child(2)),
#option-list tr:hover td,
#tool-list tr:hover td,
#consumable-list tr:hover td,
.list tr:hover .disabled {    background-color: cadetblue; }
.list tr:nth-child(odd) td {  background-color: darkslategray; }
.list th {                    background-color: dimgrey }
#error-container {                       color: red; }

/* || Fonts */
@font-face {
  font-family: chaoshunter;
  src: url(/font);
}
html {
  overflow-x: hidden;
  font-family: chaoshunter, Tahoma, sans-serif;
  font-size: 20px;
}
#roll-button, .collapsible {
  font-size: 18px;
  font-weight: bold;
}
.select-button {
  font-size: 30px;
  font-weight: 1200;
  font-stretch: extra-expanded;
}
#error-header {
  margin: 0;
}
#error-output { 
  font-size: 14px; 
  margin: 0;
}
.group-selector {
  font-size: 30px;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
}
.group-selector p {
  margin: 0;
  font-size: 20px;
  display: inline;
}
/* || Cursor */
#roll-button,
.collapsible,
.select-button,
.list tr td:nth-child(1),
#weapon-list tr td:nth-child(2).enabled { cursor: pointer; }
/* || Sizing and Spacing */
/* |- Page */
html, body { width: 100%; }
/* |- Container */
.container {
  width: 100%;
  margin: none;
  padding: none;
  border: none;
}
/* |- Title */
#title-banner {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}
#title-banner h1,h2 {
  margin: 3px;
}
/* |- Roll Button */
#roll-button {
  width: 170px;
  height: 40px;
  margin-left: calc(50% - 85px);
  margin-bottom: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
}
/* |- Results */
.results td {
  border: 0;
  padding: 0;
  height: 30px;
  width:  75px;
  text-align: center;
  vertical-align: bottom;
  font-size: 14px;
}
.results td p {
  margin: 0;
}
.cost-row td {
  vertical-align: top;
  height: 35px;
}
.title-row {
  height: 75px;
}
.lock-row td {
  height: 30px;
}
.slider-row td {
  height: 15px;
}
.slider {
  width: 300px;
  height: 4px;
  border-radius: 5px;
  opacity: 0.4;
  outline: none;
  -webkit-appearance: none;
  background: #791a1a;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 0px;
  background: url('/img?lock-select.png');
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 0px;
  background: url('/img?lock-select.png');
  cursor: pointer;
}
.results {
  margin-bottom: 45px;
}
/* |- Collapsable Buttons*/
.collapsible {
  width: 100%;
  margin-left:  min(calc(45% - 230px), 30%);
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.active span {
  transform: rotate(90deg);
}
.collapsible p {
  transform: translateX(calc(-30% + -11px));
  margin: 0;
}
.arrow {
  float: left;
}
/* -- Options */
#options-collapse span {
  transition: transform 0.3s linear;
}
/* -- Weapons */
#weapons-collapse span {
  transition: transform 2s linear;
}
/* -- Tools */
#tools-collapse span {
  transition: transform 0.5s linear;
}
/* -- Consumables */
#consumables-collapse span {
  transition: transform 0.5s linear;
}
/* -- Credits */
#credits-collapse span {
  transition: transform 4s linear;
}
/* |- Collapse Content*/
.collapse-content {
  padding: 0 18px;
  margin-bottom: 12px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.select-button {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: bold;
  transform: rotate(90deg) translate(0%, -26%);
}
.select-button[data-dual='true'] {
  transform: translate(105%, 4%) rotate(15deg);
}
.list tr td:nth-child(1) {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.list {
  border-collapse: collapse;
  width: 100%;
  margin-left: calc(50% - 230px);
  text-align: center;
}
.list th:nth-child(1) {
  height: 40px;
  width: 40px;
  border: none;
  margin: none;
  padding: none;
  border-radius: 20px;
}
/* -- Options */
#options-content {
  transition: max-height 0.3s ease-out;
}
#option-list {
  margin-top: 11px;
}
#option-list tr td:nth-child(2) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 300px;
}
/* -- Weapons */
/* ++ Tooltip text */
.group-selector .tooltip-text {
  visibility: hidden;
  width: 82px;
  font-size: 16px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  margin-left: -57px;
  margin-top: -30px;
}
.group-selector .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  font-size: 24px;
  border-color: white transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.group-selector:hover .tooltip-text  {
  visibility: visible;
}
#weapons-content {
  transition: max-height 2s ease-out;
}
#weapon-list, #tool-list, #consumable-list {
  margin-top: 15px;
}
#weapon-list tr td:nth-child(2) {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
#weapon-list tr td:nth-child(3),
#weapon-list tr th:nth-child(3),
#tool-list tr td:nth-child(2),
#consumable-list tr td:nth-child(2) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 350px;
}
#weapon-list tr td:nth-child(4),
#tool-list tr td:nth-child(3),
#consumable-list tr td:nth-child(3) {
  width: 100px;
  text-align: left;
  margin-left: 3px;
}
#weapon-list th:nth-child(2) {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
#weapon-list th {
  border: 0;
  margin: 0;
  padding: 0;
}
/* -- Credits */
#credits-content {
  transition: max-height 4s ease-out;
}
